<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset> 
        </encoder>
    </appender>
    <appender name="baselog"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/base.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/base.log.%d.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		or whenever the file size reaches 64 MB
        		<maxFileSize>64 MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <charset>UTF-8</charset> 此处设置字符集 
        </encoder>
    </appender> -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] (%file:%line\): %-5level %c - %msg %n</Pattern>
	  </encoder>
	  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	    <level>TRACE</level>
	  </filter>
	</appender> 
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <File>log/app.log</File>
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <!-- daily rollover -->
	    <FileNamePattern>rest-demo.%d{yyyy-MM-dd}.log</FileNamePattern>
	    <!-- keep 30 days' worth of history -->
	    <maxHistory>30</maxHistory>         
	  </rollingPolicy>
	  <encoder>
	    <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] (%file:%line\): %-5level %c - %msg %n</Pattern>
	  </encoder>        
	</appender>
    <!-- <root level="DEBUG">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="dailyRollingFileAppender" />
    </root> -->
   <!--  <root level="ERROR">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="dailyRollingFileAppender" />
    </root> -->
    
     <logger name="org" level="ERROR">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="javax" level="ERROR">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="com.netflix" level="ERROR">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="com.google" level="ERROR">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="com.fasterxml" level="ERROR">
        <appender-ref ref="consoleAppender" />
    </logger>
    
    
    <logger name="com.kenick" level="DEBUG">
        <appender-ref ref="consoleAppender" />
        <!-- <appender-ref ref="dailyRollingFileAppender" /> -->
    </logger>
    
    
</configuration>